@{
    ViewData["Title"] = "Startpagina";
}

@if(ViewBag.ErrorMessage != null) {
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

<div>
    <form asp-controller="Booking" asp-action="Start" method="GET">
        <input type="date" name="selectedDate" required/>
        <button class="btn btn-success">Start boeking</button>
    </form>
</div>
